- var curyear = function() {
- 	return new Date().getFullYear();
- }

p &nbsp;
	
footer
	p!= '&copy;'+curyear()+' '+copyright+' &middot; powered by <a href="https://github.com/clapyohands/cryptofaucet-node">cryptofaucet-node</a>'
